*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Login;
    src: url("/fonts/Login.ttf");
}

body {

    overflow: hidden;

}

.global-container{

    background: url("/images/index-back.jpg");
    background-size: cover;
    width: 100vw !important;
    height: 100vh;
    display: flex;
    align-items: center;

}

#start{
    position: relative;
    top: 0%;

    transition: all 1s;
}

#login-form{
    position: absolute;
    top: 100%;

    transition: all 1s;
}

#register-form{
    position: absolute;
    top: 100%;

    transition: all 1s;
}

.global-container div{
    width: 100%;
}

.btn-login{
    background-color: rgb(209, 110, 18);
    margin: 15px 0px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    color: white;
    transition: all 0.5s;
}

.btn-login > span{
    font-family: Login;
    font-size: 20px;
}

a:hover{
    text-decoration: none !important;
}

.btn-login:hover{
    background-color: rgb(255, 123, 0);
    transition: all 0.5s;
}

.arrow img{
    display: none;
    opacity: 0;
    width: 40px;
    height: 30px;
    position: absolute;
    top: 30px;
    left: 30px;
    transition: all 1s;
}

/*Clases de animación*/

.desapareceTop{
    top: -100% !important;
    transition: all 1s;
}

.aparece{
    top: 40% !important;
    transition: all 1s;
}

.arrow-appears{
    opacity: 1 !important;
    transition: all 1s;
}