*{
    margin: 0px;
    padding: 0px;
}

#global{
    background-color: rgb(80, 80, 80);
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: Login;
    src: url("/fonts/Login.ttf");
}

/*Estilos linea foto perfil usuario*/

.user-row{
    padding-top: 100px;
}

.user-row img{
    max-width: 500px;
    max-height: 500px;
    border: solid white 5px;
    border-radius: 50%;
}

/*Estilos linea possición ranking*/

.global-score-row{

    color: white;
    font-size: 30px;
    font-weight: bold;
    height: 50px;
    width: 10%;

    margin: 40px 0px;

}

.bar{
    border: solid 2px white;
}

.trophy-icon{
    width: 40px;
    height: 40px;
}

/*Estilos linea logros*/

.achievements-row{

    width: 20%;

}

.achievement{

    height: 100px;
    width: 100px;

}

/*Estilo botón mandar solicitudes*/

.friend-request-row{

    width: 20%;
}

.friend-request-btn{
    border: none;

    color: white;
    font-weight: bold;
    font-family: Login;
    font-size: 40px;
    width: 100%;
    border-radius: 10px;
    background-color: rgb(209, 110, 18);

    padding: 20px 0px;
    margin: 40px 0px;
}

.friend-request-btn:hover{
    
    background-color: rgb(255, 123, 0);
    transition: all 0.5s;
}