.class-search {
    float: left;
    background-color:transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    border: none;
    outline: none;
}

.class-search::placeholder {
    color:#FFFFFF;
    opacity:1
}

.input-icono {
    background-image: url("../internal-images/lens.png");
    background-repeat: no-repeat !important;
    background-position: 4px center !important;
    background-size: 20px !important;
    display: flex;
    align-items: center;
    width: auto;
    padding-left: 28px;
    height: auto;
    max-height: 30px;
}

#header-search:focus {
    background-image: url("../internal-images/lens-edited.png") !important;
    font-weight: bold !important;
}

.btn-secondary {
    background-color: transparent !important;
    border-color: transparent !important;
}

.class-dropdown-profile {
    color: #FFFFFF;
    font-family: Verdana;
    font-size: 22px;
    text-align: left;
    width: auto;
    height: 45px;
    background-color: #343a40;
    border: none;
}

.class-dropdown-profile:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem transparent !important;

}

.button-icon-profile {
    background-image: url("../internal-images/profile-pic.png");
    background-repeat: no-repeat !important;
    background-position: 5px center !important;
    background-size: 30px !important;
    display: flex;
    align-items: center;
    padding-left: 40px;
}

.button-icon-profile:hover {
    background-image: url("../internal-images/profile-pic-edited.png");
    font-weight: bold;
}

.button-icon-logout {
    background-image: url("../internal-images/log-out.png");
    background-repeat: no-repeat !important;
    background-position: 10px center !important;
    background-size: 25px !important;
    display: flex;
    align-items: center;
    padding-left: 40px;
}

.button-icon-logout:hover {
    background-image: url("../internal-images/log-out-edited.png");
    font-weight: bold;
}

.dropdown-item {
    color: #FFFFFF !important;
    padding-left: 40px !important;
}

.dropdown-menu {
    color: #FFFFFF;
    background-color: #343a40 !important;
}

.dropdown-item:hover {
    background-color: #5f5f5f71 !important;
    color: #343a40;
}

.class-profile-icon-img {
    border-radius: 50%;
    width:35px;
    height:35px;
    border: 1.25px solid #FFFFFF;
}

.dropdown-toggle {
    white-space: nowrap;
    font-size: larger;
}

.dropdown-toggle:hover {
    font-size: x-large;
}

.dropdown-toggle:focus {
    font-size: x-large;
}

.class-header-profile {
    font-size: 20px;
}

#header-username:hover #header-usernamePic{
    border: 2.5px solid #FFFFFF;
}

#header-username:focus #header-usernamePic{
    border: 2.5px solid #FFFFFF;
}

#header-username:focus{
    font-weight: bold !important;
}

/* Extras para react */

#buscUser{

    width: 33%;

}

#rankingAndUserDiv{
    width: 33%;
}

#header-divider{
    border: 0.5px solid #FFFFFF;
}

#buscPartida{
    width:33%;
}